*{
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

#bgPittsburgh{
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-image:url('../Images/Pittsburgh.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#overlapPittsburgh{
  position: relative;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  min-height: 100vh;
  height: auto;
  z-index: 1;
}

#image{
  background-image: url('../Images/AdamPic.png');
  display:block;
  padding-top:100%;
  border-radius:50%;
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*border: solid white 3px;*/
}


#info{
  padding: 10vh 0 3vh 5%;
}

#info > p{
  margin: 0;
}


.white_text{
  color: white;
  font-size: 2.5rem;
}


.pad_top{
  padding-top: 100px;
}

.pad{
  padding-bottom: 5%;
  padding-top: 5%;
}

.circle_border{
  border-radius: 50%;
  border: solid rgba(255, 255, 255, .3) 5px;
  color: rgba(255, 255, 255, .3);
}

.transparent_bg{
  background-color: transparent;
}

#largeButton{
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  font-size: 4rem;
  padding-top: 15px;
}

#largeButton:hover{
  color: rgba(255, 255, 255, 1);
  border-color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, .25);
  transition: 1s;
}

#largeButton:focus, .navbar-header > button{
  outline: none;
}

#aboutMe{
  width: 100%;
  min-height: 700px;
  padding: 5% 20% 0 20%;
}

.transition{
  background: black;
  background: -webkit-linear-gradient(transparent, black);
  background: -o-linear-gradient(transparent, black);
  background: -moz-linear-gradient(transparent, black);
  background: linear-gradient(transparent, black);
  width: 100%;
  height: 100px;
  margin-top: -100px;
}

.before_scroll{
  display: none;
}


@media screen and (max-width: 768px) {
  #info {
    font-size: 1.75rem;
    padding-top: 5vh;
  }
  .pad_top{
    padding-top: 50px;
  }
}

#invis{
  margin-top: 100px;
}

.custom_button{
  background-color: transparent;
  text-align: center;
}

.no_border{
  border: 0; !important;
}

.fill{
  display: inline-block;
}

.navbar-header > button:hover{
  color: white;
  transition: .5s;
}

.navbar > .navbar-right{
  margin-right: 0;
  color: #9d9d9d;
}

#mainNav{
  background-color: rgba(0, 0, 0, 0);
  min-height: 100px;
  padding-top: 25px;
}

#languages{
  width: 100%;
  min-height: 550px;
  background-color: white;
  padding-top: 5%;
  padding-bottom: 5%;
}

.img_size{
  width: 100px;
  height: auto;
  border: solid 2px red;
}

.image_pad{
  padding: 5% 5%;
}

.fade_in_white{
  background: black;
  background: -webkit-linear-gradient(black, transparent);
  background: -o-linear-gradient(black, transparent);
  background: -moz-linear-gradient(black, transparent);
  background: linear-gradient(black, transparent);
  width: 100%;
  height: 100px;
  margin-top: -10px;
}

.img_size:hover{
  box-shadow: grey 5px 5px 10px;
  transition: .5s;
}

#contactMe{
  min-height: 200px;
  font-size: 2rem;
  padding: 0 0 5% 0;
}

#contacts{
  padding: 25px 10%;
}

.contact_icons{
  width: 30px;
  height: auto;
}

.black_bg{
  background-color: black;
}

.links{
  color: white;
}

.links:hover, .download:hover{
  color: white;
  transition: .5s;
}

.header_separator{
  margin: 50px 0;
}

.download{
  color: #9d9d9d;
}

.navbar-header > a:hover{
  color: white;
  transition: .5s;
}

.download:focus{
  outline: none;
}